.pagina_1 {
    border: crimson;
background-image: url(img/QKqEqgX8CWMa2VRHAA2n5-eTTkQy-MUKJYpmuk5huQU.webp);
width: 100%;
align-self: center;
align-items: center;
width: 100%;
height: auto;
border-color: black;
text-align: center;
}

header{
  
  height: 120px;
    display: flex;
   align-content: space-between;
background-color: black;
color: aliceblue;

}
   div { background-color: rgb(70, 155, 70);
       color: black;
 

   }
   footer { 
   text-align: center;
    width: 100%;
   height:30px;
   
   
    color: aliceblue;


   }
   .logotipo { width: 160px;
padding: 5px;



   }
   .login {
width: 80 px;





   }
   .barra {
width: 100%;
height: 120px;



   }